In [2]:
import pandas as ps

In [8]:
!ls -ll

total 30280
-rw-r--r--@ 1 alexeyvaganov  staff  2914558  8 июн 19:58  resolution.numbers
-rw-r--r--  1 alexeyvaganov  staff     3203  8 июн 22:56 IA resolution from file.ipynb
-rw-r--r--  1 alexeyvaganov  staff     2252  5 июн 23:54 NLP tutorial.ipynb
-rw-r--r--  1 alexeyvaganov  staff      728  6 июн 23:26 Untitled.ipynb
-rw-r--r--@ 1 alexeyvaganov  staff      915  6 июн 20:08 data_rez_test.rtf
-rw-------@ 1 alexeyvaganov  staff   117428  4 июн 15:13 dracon.xml
-rw-------@ 1 alexeyvaganov  staff   117428  4 июн 15:13 draconicevolution-en_US (1).xml
-rw-r--r--  1 alexeyvaganov  staff  4410160  8 июн 20:43 finalized_model.sav
-rw-r--r--  1 alexeyvaganov  staff  4410160  8 июн 20:44 finalized_model_resolut.sav
-rw-r--r--  1 alexeyvaganov  staff    75086  8 июн 21:48 finalized_vector_resolut.sav
-rw-r--r--  1 alexeyvaganov  staff    10029 13 июн 14:39 from site training .ipynb
-rw-r--r--  1 alexeyvaganov  staff     9168  4 июн 15:41 google_trans.ipynb
-rw-r--r--  1 alexeyvaganov  staff   158190  8 июн 22:02 nlp resolution from work .ipynb
-rw-r--r--@ 1 alexeyvaganov  staff   194477  8 июн 15:48 resolution.xlsx
-rw-r--r--@ 1 alexeyvaganov  staff  1259118  9 июн 11:26 resolution_100.numbers
-rw-r--r--@ 1 alexeyvaganov  staff    50618  8 июн 20:13 resolution_100.xlsx
-rw-r--r--  1 alexeyvaganov  staff     7314  7 июн 16:53 test nlp.ipynb
-rw-r--r--  1 alexeyvaganov  staff     6627 26 май 09:00 test_DS.ipynb
-rwxr-xr-x@ 1 alexeyvaganov  staff   712731  7 июн 16:49 test_nlp.numbers
-rw-r--r--@ 1 alexeyvaganov  staff     6095  7 июн 16:49 test_nlp.xlsx
-rw-r--r--@ 1 alexeyvaganov  staff    61194  2 июн 21:44 titanic.csv
-rw-r--r--  1 alexeyvaganov  staff     7268  5 июн 19:58 tree random class.ipynb

In [5]:
data = ps.read_csv("titanic.csv")

In [13]:
data.iloc[0:3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S