In [1]:
import pandas # импорт библиотеки

In [65]:
col_name = ["zn1","zn2","sum"]

In [138]:
raw_df = [] # пустой массив
i = 1
while i <= 1000:
    zn_list = [i,i,i*i]
    raw_df.append(list(zn_list))
    i = i + 1
df = pandas.DataFrame(data=raw_df, columns=(col_name)) 
X = df[ ["zn1","zn2"]][:-1] 
Y = df[ ["sum"]][:-1] 
df

      zn1   zn2      sum
0       1     1        1
1       2     2        4
2       3     3        9
3       4     4       16
4       5     5       25
..    ...   ...      ...
995   996   996   992016
996   997   997   994009
997   998   998   996004
998   999   999   998001
999  1000  1000  1000000

[1000 rows x 3 columns]

In [139]:
d = {'zn1': [1500], 'zn2': [1500]}
X_test = pandas.DataFrame(data=d)
X_test

    zn1   zn2
0  1500  1500

In [140]:
from sklearn.linear_model  import LinearRegression
var = LinearRegression()
var.fit(X,Y) 
prediction = var.predict(X_test) # Предсказания
print(prediction)

[[1333166.66666667]]

In [142]:
1500 * 1500

2250000